$font-family-one: "Dancing Script", cursive;
$font-family-two: "Abel", sans-serif;
$font-family-three: "Exo 2", sans-serif;
$padding-left: 550px;
$border: 0.5px solid light-gray;

.font-dancing {
  font-family: $font-family-one;
}
.font-abel {
  font-family: $font-family-two;
}
.font-exo {
  font-family: $font-family-three;
}
.pl-550 {
  padding-left: $padding-left;
}
.b-2 {
  border: $border;
}
.bg-Image {
  background-image: url(./assets/line-1.avif);
  background-position: center;
  background-size: cover;
}
